<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizmitt | Refund policy</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <!-- plugin scripts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/piloz-icons.css' %}">

    <!-- theme styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

    <div class="preloader">
        <img src="{% static 'images/loader.png'%}" height="100" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">
        <header class="site-header-one stricky site-header-one__fixed-top">
            <div class="container-fluid">
                <div class="site-header-one__logo">
                    <a href="{% url 'home'%}">
                        <img src="{% static 'images/bizmitt.png'%}" width="220" alt="">
                    </a>
                    <span class="side-menu__toggler"><i class="fa fa-bars"></i></span><!-- /.side-menu__toggler -->
                </div><!-- /.site-header-one__logo -->
                <div class="main-nav__main-navigation">
                    <ul class="main-nav__navigation-box one-page-scroll-menu">
                        <li class="scrollToLink">
                            <a href="index-2.html#home">Home</a>
                        </li>
                        <li class="scrollToLink"><a href="{% url 'home'%}">Features</a></li>
                        
                        <li class="scrollToLink"><a href="{% url 'home'%}">Screens</a></li>
                    </ul><!-- /.main-nav__navigation-box -->
                </div><!-- /.main-nav__main-navigation -->
                <div class="main-nav__right">
                    <a href="https://play.google.com/store/apps/details?id=in.ac.vtu.conn&amp;hl=en_IN&amp;gl=US"
                        class="thm-btn"><span>Download App</span></a>
                </div><!-- /.main-nav__right -->
            </div><!-- /.container-fluid -->
        </header><!-- /.site-header-one -->

        <section class="page-header">
            <div class="container">
                <h2>Refund policy</h2>
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><span>Refund policy</span></li>
                </ul><!-- /.list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <style>
                            [data-custom-class='body'],
                            [data-custom-class='body'] * {
                                background: transparent !important;
                            }

                            [data-custom-class='title'],
                            [data-custom-class='title'] * {
                                font-family: Arial !important;
                                font-size: 26px !important;
                                color: #000000 !important;
                            }

                            [data-custom-class='subtitle'],
                            [data-custom-class='subtitle'] * {
                                font-family: Arial !important;
                                color: #595959 !important;
                                font-size: 14px !important;
                            }

                            [data-custom-class='heading_1'],
                            [data-custom-class='heading_1'] * {
                                font-family: Arial !important;
                                font-size: 19px !important;
                                color: #000000 !important;
                            }

                            [data-custom-class='heading_2'],
                            [data-custom-class='heading_2'] * {
                                font-family: Arial !important;
                                font-size: 17px !important;
                                color: #000000 !important;
                            }

                            [data-custom-class='body_text'],
                            [data-custom-class='body_text'] * {
                                color: #595959 !important;
                                font-size: 14px !important;
                                font-family: Arial !important;
                            }

                            [data-custom-class='link'],
                            [data-custom-class='link'] * {
                                color: #3030F1 !important;
                                font-size: 14px !important;
                                font-family: Arial !important;
                                word-break: break-word !important;
                            }
                        </style>

                        <div data-custom-class="body">
                            <div align="center" style="text-align: left; line-height: 1;">
                                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
                                    
                                    <div class="MsoNormal" data-custom-class="heading_1" id="agreement"
                                        style="line-height: 115%;"><a name="_a7mwfgcrtsqn"></a><strong><span
                                                style="line-height: 115%; font-family: Arial; font-size: 19px;">
                                                Refund Policy</span></strong></div>
                                </div>
                                <div align="center" class="MsoNormal" style="text-align: left; line-height: 1;"><br>
                                </div>
                                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
                                    <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                            style="font-size:11.0pt;line-height:115%;
                          Arial;mso-fareast-font-family:Calibri;color:#595959;mso-themecolor:text1;
                          mso-themetint:166;">Thank you for choosing BizmITT by InnoThrive Technologies. We aim to provide the best 
                          experience possible and hope our product meets your needs. This Refund Policy outlines our terms regarding refunds.<span style="font-size:11.0pt;line-height:115%;
                          Arial;mso-fareast-font-family:Calibri;color:#595959;mso-themecolor:text1;
                          mso-themetint:166;"><span style="font-size:11.0pt;line-height:115%;
                          Arial;mso-fareast-font-family:Calibri;color:#595959;mso-themecolor:text1;
                          mso-themetint:166;">
                                                    
                                                </bdt>
                                            </span></bdt></span>
                                       
                                    </div>
                                </div>
                                <div align="center" class="MsoNormal" style="text-align: left; line-height: 1;"><br>
                                </div>
                                
                                </div>
                                
                                    
                                <ul class="list-unstyled tech-feature-list mb-3">

                                    <li class="py-1"><span class="ti-control-forward mr-2 text-secondary"></span><strong>Free Trial Period</strong><br>

                                        We offer an 84-day free trial period for new users to evaluate BizmITT.

                                         During this trial period, you can use all the features of BizmITT without any charge.

                                    </li>

                                    <li class="py-1"><span class="ti-control-forward mr-2 text-secondary"></span><strong>Subscription Purchase</strong><br>

                                        Upon the end of the 84-day free trial period, you will be required to purchase

                                         a subscription to continue using BizmITT.

                                         The subscription fees and plans are clearly outlined at the time of purchase.

                                    </li>

                                    <li class="py-1"><span class="ti-control-forward mr-2 text-secondary"></span><strong>No Refund Policy</strong><br>

                                    <ul>

                                    <li><b>Post-Subscription:</b> o	Once a subscription is purchased, no refunds will be provided. 

                                    We encourage users to fully utilize the 84-day free 

                                    trial period to evaluate the application and ensure it meets their needs before 

                                    committing to a subscription.</li>

                                    </ul>

                                    </li>

                                    <li class="py-1"><span class="ti-control-forward mr-2 text-secondary"></span><strong>Cancellation Policy</strong><br>

                                     <ul>

                                     <li><b>Before Subscription Purchase : </b>You can cancel your account anytime during the free trial period without any charges.</li>

                                     <li><b>After Subscription Purchase : </b> o	You may cancel your subscription at any time, but no refunds will be issued for any remaining period of the subscription term.</li>

                                     </ul>

                                     </li>

                                    <li class="py-1"><span class="ti-control-forward mr-2 text-secondary"></span>

                                    <strong>Changes to Refund Policy</strong><br>

                                        We reserve the right to modify or update this Refund Policy at any time. Changes to the

                                         Refund Policy will be posted on our website, and the effective date will be updated accordingly.

                                    </li>

                                    

                                </ul>



                                <p>By purchasing a subscription to BizmITT, you acknowledge that you have read, understood, and agree to this Refund Policy. 

                                We encourage you to take full advantage of the 84-day free trial period to ensure that BizmITT is the right solution for you.</p>


                                <div align="center" class="MsoNormal" style="text-align: left; line-height: 1.5;"><br>
                                </div>
                                
                                
                               
                                   
                                   
                                
        </section><!-- /.blog-details -->

        <footer class="site-footer footer-two">
            <div class="site-footer-bg" style="background-image: url(assets/images/resources/footer-bg-shape-1.png)">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-upper text-center">
                            <div class="footer-logo">
                                <img src="{% static 'images/bizmittwhite.png' %}" alt="Footer Logo">
                            </div>
                            <ul class="footer-widget__social">
                                <li><a href="https://twitter.com/vtu_connect"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/VTU.Connect.IN/" class="color-1"><i
                                            class="fab fa-facebook"></i></a></li>
                            </ul>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="index-2.html#home">Home</a></li>
                                    <li><a href="index-2.html#features">Features</a></li>
                                    <li><a href="index-2.html#screens">Screens</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container text-center">
                    <p>© Copyright 2021 by <a href="#">Bizmitt</a></p>
                </div><!-- /.container -->
            </div>
        </footer>



    </div><!-- /.page-wrapper -->


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <div class="side-menu__block">
        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
        <div class="side-menu__block-inner ">
            <div class="side-menu__top justify-content-end">
                <a href="#" class="side-menu__toggler side-menu__close-btn">
                    <img src="{% static 'images/shapes/close-1-1.png' %}" alt="">
                </a>
            </div>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <div class="side-menu__sep"></div><!-- /.side-menu__sep -->
            <div class="side-menu__content">
                <p>Need Help or Want to Reach out to us?</p>
                <p>
                    <a href="mailto:info@innothrivetechnologies.in">info@innothrivetechnologies.in</a><br>
                </p>
                <div class="side-menu__social">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.5.0.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-select.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'js/isotope.js'%}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/TweenMax.min.js'%}"></script>
    <script src="{% static 'js/wow.js'%}"></script>
    <script src="{% static 'js/theme.js'%}"></script>
</body>


</html>