<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Terms Conditions </title>
  <link rel="shortcut icon" href="{% static 'image/favicon.png'%}" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/icon-font/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/typography-font/typo.css'%}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-5/css/all.css'%}">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="{% static 'plugins/aos/aos.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/nice-select/nice-select.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.min.css'%}">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <!-- Custom stylesheet -->
</head>

<body data-theme="light">
  <div class="site-wrapper overflow-hidden ">
    <div id="loading">
      <img src="{% static 'image/preloader.gif'%}" alt="">
    </div>
    <!-- Header Area -->
    <!-- Header Area -->
    <header class="site-header site-header--menu-right px-7 px-lg-10 z-index-99 dynamic-sticky-bg site-header--absolute site-header--sticky">
      <div class="container-fluid">
        <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0">
          <!-- Brand Logo-->
          <div class="brand-logo mt-3 mt-md-0"><a href="{% url 'home' %}">
              <!-- light version logo (logo must be black)-->
              <img src="{% static 'image/bizmitt.png'%}" alt="" class="light-version-logo" style="width:200px;">
              <!-- Dark version logo (logo must be White)-->
              <img src="{% static 'image/bizmitt.png'%}" alt="" class="dark-version-logo" style="width:200px;">
            </a></div>
          <div class="collapse navbar-collapse" id="mobile-menu">
            <div class="navbar-nav-wrapper">
              <ul class="navbar-nav main-menu">
                
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}" role="button" aria-expanded="false">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}#Features" role="button" aria-expanded="false">Features</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}#Screens" role="button" aria-expanded="false">Screens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}#reviews" role="button" aria-expanded="false">Customer Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}#contactus" role="button" aria-expanded="false">Contact us</a>
                </li>
                
              </ul>
            </div>
            <button class="d-block d-lg-none offcanvas-btn-close" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
              <i class="gr-cross-icon"></i>
            </button>
          </div>
          <div class="header-btn ml-auto ml-lg-6 d-none d-sm-block">
            <a class="btn btn btn-pumpkin btn-sm-2 rounded-5 h-50 font-size-5 font-weight-bold" href="#">
               Download App
            </a>
          </div>
          <!-- Mobile Menu Hamburger-->
          <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <i class="icon icon-simple-remove icon-close"></i> -->
            <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
          </button>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
    <!-- End Header Area -->
    <div class="pt-23 pt-md-25 pt-lg-30 pb-9 pb-md-16 pb-lg-21">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-11">
            <div class="text-center">
              <h2 class="font-size-11 mb-8">Terms &amp;
                Conditions</h2>
              
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 pr-lg-13 pr-xl-0">
              <div class="pt-lg-17 pt-8">
              <h4>1. AGREEMENT TO TERMS</h4>
                <p class="font-size-5 heading-default-color mb-0">Please read these Terms and Conditions 
                ("Terms", "Terms and Conditions") carefully before using the BizmITT mobile application
                 and website operated by InnoThrive Technologies</p>
                <div class="mt-9 mt-lg-11">
                  <h5 class="font-size-7 mb-7">Acceptance of Terms</h5>
                  <p class="font-size-5 heading-default-color">By accessing or using BizmITT,
                   you agree to be bound 
                  by these Terms. If you disagree with any part of the Terms, 
                  then you do not have permission to access our services
                   </p>
                </div>
                <div class="mt-9 mt-lg-13">
                  
                  <h5 class="font-size-7 mb-7">Use of Our Services</h5>
                  <p class="font-size-5 heading-default-color mb-9"><b>Account:</b> You must provide accurate and complete 
                  information when creating an account. You are responsible
                   for maintaining the confidentiality of your account and password
                  </p>
                  <p class="font-size-5 heading-default-color"> <b>Prohibited Uses:</b>
                   You agree not to use our services for any illegal or unauthorized purpose.</p>
                </div>
                <div class="mt-9 mt-lg-13">
                  <h5 class="font-size-7 mb-7">Intellectual Property</h5>
                  <p class="font-size-5 heading-default-color">All content, including text, graphics, 
                  logos, and software, is the property of InnoThrive Technologies
                   and is protected by copyright, trademark, and other laws.</p>
                </div>
                <div class="mt-9 mt-lg-13">
                  <h5 class="font-size-7 mb-7">Termination of Account</h5>
                  <p class="font-size-5 heading-default-color">We may terminate or suspend your account 
                  and access to our services immediately, without prior notice 
                  or liability, for any reason, including if you breach the Terms.</p>
                </div>
                <div class="mt-9 mt-lg-13">
                  <h5 class="font-size-7 mb-7">Changes to Terms</h5>
                  <p class="font-size-5 heading-default-color">We reserve the right to modify or replace 
                  these Terms at any time. We will provide notice of any 
                  changes by posting the new Terms on our website. 
                  Your continued use of the services after any such changes 
                  constitutes your acceptance of the new Terms.</p>
                </div>
                <div class="mt-9 mt-lg-13">
                  
                  <p class="font-size-5 heading-default-color">By using BizmITT and our website, you acknowledge
                   that you have read, understood, and agree to be bound by these Terms and Conditions</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- Vendor Scripts -->
  <script src="{% static 'js/vendor.min.js'%}"></script>
  <!-- Plugin's Scripts -->
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'plugins/nice-select/jquery.nice-select.min.js'%}"></script>
  <script src="{% static 'plugins/aos/aos.min.js'%}"></script>
  <script src="{% static 'plugins/slick/slick.min.js'%}"></script>
  <script src="{% static 'plugins/counter-up/jquery.counterup.min.js'%}"></script>
  <script src="{% static 'plugins/counter-up/jquery.waypoints.min.js'%}"></script>
  <!-- Activation Script -->
  <script src="{% static 'js/custom.js'%}"></script>
</body>


</html>